.default-container {
    width: 100%;
}

.menu {
    width: 100%;
    background-color: #E02041;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu img {
    width: 30px;
    height: 30px;
    margin: 6px 6px 6px 6px;
}

.minMenu-left {
    margin-right: 10px;
}

.minMenu-left button {
    border: none;
    padding: 4px;
    box-shadow: 0px 0px 3px 0px #777777;
    width: 29px;
    height: 30px;
    border-radius: 50%;
}

.default-container .sub-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.default-container .sub-header div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.default-container .sub-header div span {
    font-size: 20px;
    font-weight: 700;
}

.default-container .sub-header div img {
    width: 200px;
}

.default-container .sub-header div + div {
    align-items: flex-end;
}

.button {
    max-width: 300px;
}

.default-container .grid-screens {
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.default-container .grid-screens .box-content {
    height: 19.2rem;
    background: rgb(224, 32, 65);
    border-radius: 6px 6px 0px 0px;
    box-shadow: 0px 0px 10px 0px #c5c5c5;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.default-container .grid-screens .box-content button {
    border: none;
    background: transparent;
}

.default-container .grid-screens .box-content img {
    width: 100%;
}

.default-container .grid-screens .box-content h1 {
    color: #FFF;
} 

#form {
    width: 84%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form input + input {
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
}

#form .button {
    box-shadow: 0px 0px 3px 0.1px #ffffff;
}

.default-container .grid-screens .box-content > div {
    width: 100%;
    background: #FFF;
    height: 85%;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 900px) {

    .default-container .sub-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .button {
        margin-right: 0;
        padding: 3px;
    }
}


